table{
    border-collapse: collapse;
}
.tables{
    border-collapse: collapse;
    width: 100%;
}
/* td, th{
    border:solid 1px #ccc;
} */

.estimate-tab{
    border:solid 1px #ccc;
}
.inovice-container input, .inovice-container textarea{
    margin: 0;
    margin-bottom: 10px;
}
.estimate-col{
    padding-top:10px;
    padding-bottom: 0px;
}

.estimate-col:first-child{
    border-right:solid 1px #ccc;
}

.estGroup{
    display: flex;
}
.estGroup span{
    height: 36px;
    background: #f5f5f5;
    border: solid 1px #ccc;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 8px;
    border-right: 0;
    line-height: 36px;
    font-size: 15px;
}
.estGroup input{
    border-radius: 0px 5px 5px 0px;
}


.bill-to-tab{
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #ccc;
}
.bill-to-title{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    color: #000;
    font-weight: bold;
}
.bill-to-content{
    padding-top: 10px;
    padding-bottom: 0px;
}
.bill-item-title{
    position: relative;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    color: #000;
    font-weight: bold;
}
.bill-item-view span{
    font-weight: normal;
}
.bill-item-title:last-child{
    border-right: solid 1px #ccc;
}
.bill-item-no{
    flex: 0 0 auto;
    max-width: 55px;
    
}
.bill-gst-title{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.bill-gst-bx{
    padding: 8px 15px;
    border-top: solid 1px #ccc;
}
.bill-gst-bx:last-child{
    border-left:solid 1px #ccc;
}

.bill-math-amout{
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
}
.final-amt-list{
    padding: 5px 0;
}
.bill-item-amt{
    max-width: 200px;
    flex: 0 0 auto;
}
.bill-item-action{
    padding-right: 40px;
    position: relative;
}
.bill-item-action .delete-btn{
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    border-radius: 0;
    padding: 10px;
}
.bill-text-amout h3{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.bill-text-amout p{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    padding: 10px 0;
    text-transform: capitalize;
}
.invoiceBtn{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.invoiceBtn > button{
    background-color: #000;
    font-size: 20px;
    padding: 10px 30px;
}