.invoice-form{
    padding-top:30px;
    padding-bottom: 30px;
}

.input-groups{
    margin-top: 20px;
}
.form-label{
    font-size: 16px;
    color: #222;
    font-weight: 600;
}
.input-controls{
    width: 100%;
    height: 36px;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
}
.input-controls:focus{
    outline: 0;
    border-color: #999;
    box-shadow: none;
}
textarea.input-controls{

    min-height: 80px;
    resize: none;
}
.invalid-input{
    border-color: red;
    /* background-color: lightcoral; */
}
.invalid-input:focus{
    outline: 0;
    border-color: red;
    box-shadow: none;
}
.btns{
    display: inline-block;
    background-color: #670099;
    color: #fff;
    font-size: 14px;
    padding: 8px 25px;
    border:solid 1px #670099;
    /* text-transform: uppercase; */
    border-radius: 5px;
    cursor: pointer;
}
.btns:hover{
    opacity: 0.9;
}
.btns:disabled{
    opacity: 0.5;
    cursor: context-menu;
}
.btns-secondary{
    background-color: red;
    border-color: red;
}
